
.artist-lineup {
  display: flex;
  align-items: center;     
  justify-content: center; 
  width: 100%;             
  margin: 0 auto;          
  padding: 0;      
  top: 0; 
}

.artist-title {
  text-align: center;
  color: white;
  font-size: 5rem; 
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

/* Envuelve todo el grid y lo centra en la pantalla */
.artists-grid-wrapper {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  width: 100vw; /* Ocupa todo el ancho */
}

.artist-image {
  width: 130%; /* Ajusta el tamaño */
  height: auto;
  object-fit: cover; /* Asegura proporción */
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out; /* Sigue aplicando efectos hover */
}

.artist-image:hover {
  transform: scale(1.1);
}


/* Clase inicial para ocultar las imágenes */
.hidden {
  opacity: 0;
  transform: translateY(50px); /* Desplazamiento significativo hacia abajo */
  transition: opacity 3s ease-in, transform 3s ease-in; /* Incrementamos la duración a 3 segundos */
}

/* Clase que se aplica cuando el elemento es visible */
.fade-in {
  opacity: 1;
  transform: translateY(0); /* Retorna a su posición original */
}


/* Ajuste para pantallas medianas */
@media (max-width: 768px) {

  .artist-images-container,
  .artist-images-grid {
    padding: 0; /* Elimina relleno */
    border: none; /* Elimina bordes */
  }

  .artist-title {
    font-size: 2rem;
  }

  .artist-images-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas medianas */
  }

  .artist-lineup {
    height: auto;
    object-fit: cover;
  }

  .artist-image {
    width: 100%; /* Asegura que la imagen ocupe el 100% */
    height: auto;
  }
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 480px) {

  .artist-lineup {
    height: auto;
    object-fit: cover;
    margin-top: 18.7vh;
  }

  .artist-images-container {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .artist-title {
    font-size: 2rem;
    margin-top: 12vh;
  }

  .artist-images-grid {
    display: grid;
    gap: 1.1rem;
    margin-top: 5vh;

  }

  .artist-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .artists-grid-wrapper {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 80vh; /* Ocupa toda la altura de la ventana */
    width: 100vw; /* Ocupa todo el ancho */
  }
  

}
