/* FAQS.css */
@font-face {
  font-family: "Exo Black";
  src: url("../styles/font/Exo/Exo-Black.otf") format("opentype"); /* Ajusta la ruta si es necesario */
  font-style: normal;
}

.faq-title {
  text-align: center;
  color: white;
  font-family: "Exo Black", sans-serif !important; /* Fuerza la fuente */
  font-size: 2.3rem !important; 
  margin-top: 34vh !important; /* Separa el título de la parte superior */
}

/* Estilo para los acordeones (las preguntas) */
.faq-accordion {
  background-color: #4d96ff; /* Fondo azul */
  color: white; /* Texto blanco */
  margin-bottom: 10px;
  font-family: "Exo Black", sans-serif;
}

/* Estilo para las preguntas dentro del acordeón */
.faq-accordion .MuiAccordionSummary-root {
  background-color: #4d96ff; /* Fondo azul */
  color: white; /* Texto blanco */
}

.faq-accordion .MuiAccordionSummary-root:hover {
  background-color: #3578e5; /* Color al hacer hover */
}

/* Estilo para el contenido del acordeón */
.faq-accordion .MuiAccordionDetails-root {
  background-color: #4d96ff; /* Fondo azul */
  color: white; /* Texto blanco */
}

a {
  border: none;
  display: inline-block; /* Para que la imagen se ajuste como un bloque de línea */
  border: none; /* Elimina cualquier borde */
  padding: 0; /* Elimina cualquier relleno */
  font-style: normal;
  font-weight: bold;
  font-size: 1.1rem!important; /* Tamaño de fuente para el texto del enlace */
  color: azure !important;
}

.faq-accordion .MuiAccordionSummary-content {
  font-weight: bold;
}
.faq-accordion-container {
  position: relative;
  padding: 2rem;
  margin-top: 0vh;
  margin-bottom: 3vh !important;
}

.faqs-background-container {
  width: 100%;
  top: 0; /* Elimina cualquier margen */
  height: auto;
  min-height: 100%;
  /* background: url("../assets/fondoweb2.png") no-repeat center top; */
  background-color: #4d96ff;
  position: absolute; /* Asegura que se expanda sin restricciones */
  z-index: -1; /* Asegura que esté detrás del contenido */
}


@media (max-width: 768px) {
  .faq-title {
    font-size: 1.2rem!important;
  }

  .faq-accordion-container {
    padding: 1.5rem;
    margin-top: 4vh;
  }

  .faqs-content {
    margin-top: 14vh;
  }
}

@media (max-width: 480px) {
  .faq-title {
    font-size: 2rem !important;
    margin-top: 28vh !important; 
  }

  .faq-accordion-container {
    padding: 1rem;
    margin-top: 6vh;
    margin-bottom: 7vh;
    width: 99%; 
  }

  .faq-accordion {
    font-size: 0.95rem;
  }

  .faq-accordion .MuiAccordionSummary-root {
    font-size: 1.5rem!important;
    padding: 0.6rem 1rem;
    height: 7vh;
  }

  .faq-accordion .MuiAccordionDetails-root {
    font-size: 1.3rem!important;
    padding: 0.6rem 1rem;
  }


}
