/* FAQS.css */
@font-face {
  font-family: "Exo Black";
  src: url("../styles/font/Exo/Exo-Black.otf") format("opentype"); /* Ajusta la ruta si es necesario */
  font-style: normal;
}

.faq-title {
  text-align: center;
  color: white;
  font-family: "Exo Black", sans-serif !important; /* Fuerza la fuente */
  font-size: 2.3rem !important; 
}

/* Estilo para los acordeones (las preguntas) */
.faq-accordion {
  background-color: #4d96ff; /* Fondo azul */
  color: white; /* Texto blanco */
  margin-bottom: 10px;
  font-family: "Exo Black", sans-serif;
}

/* Estilo para las preguntas dentro del acordeón */
.faq-accordion .MuiAccordionSummary-root {
  background-color: #4d96ff; /* Fondo azul */
  color: white; /* Texto blanco */
}

.faq-accordion .MuiAccordionSummary-root:hover {
  background-color: #3578e5; /* Color al hacer hover */
}

/* Estilo para el contenido del acordeón */
.faq-accordion .MuiAccordionDetails-root {
  background-color: #4d96ff; /* Fondo azul */
  color: white; /* Texto blanco */
}

.faq-accordion .MuiAccordionSummary-content {
  font-weight: bold;
}
.faq-accordion-container {
  position: relative;
  padding: 2rem;
  margin-top: 6vh;
}

.faqs-background-container {
  width: 100%;
  top: 0; /* Elimina cualquier margen */
  height: auto;
  min-height: 100%;
  background: url("../assets/fondoweb2.png") no-repeat center top;
  position: absolute; /* Asegura que se expanda sin restricciones */
  z-index: -1; /* Asegura que esté detrás del contenido */
}

.faqs-content {
  margin-top: 19vh; /* Separa el contenido de la parte superior */
}
