html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
}

body {
  background-color: #4d96ff;
  font-family: "Exo Black", sans-serif;
  font-weight: 400;
  max-width: 100vw !important;
  width: 100vw;
  height: auto;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.background-container {
  width: 100%;
  min-width: 100%;
  top: 0; /* Elimina cualquier margen */
  padding: 0; /* Elimina cualquier relleno */
  height: auto;
  object-fit: cover !important;
  min-height: 100%;
  background: url("../assets/fondop2.png") no-repeat center top;
  position: absolute; /* Asegura que se expanda sin restricciones */
  z-index: -1; /* Asegura que esté detrás del contenido */
  margin-top: 90vh;
}

* {
  box-sizing: border-box;
}


a {
  border: none;
  display: inline-block; /* Para que la imagen se ajuste como un bloque de línea */
  border: none; /* Elimina cualquier borde */
  padding: 0; /* Elimina cualquier relleno */
}

@font-face {
  font-family: "Exo Black";
  src: url("../styles/font/Exo/Exo-Black.otf") format("opentype"); /* Ajusta la ruta si es necesario */
  font-weight: 900;
  font-style: normal;
}

.discover-title {
  text-align: center;
  color: white;
  font-size: 2rem;
  margin: 40px 0;
}
/* Barra de navegación */
.bottom-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-evenly;
  padding: 0;
}

/* Estilos para las opciones de la barra */
.bottom-nav-action {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  padding: 10px;
  min-width: 0;
  display: inline-block;
  transition: color 0.3s ease;
}

/* Cuando la opción no está seleccionada */
.bottom-nav-action:hover {
  color: #4d96ff;
}

#logos {
  text-align: center;
}

.logos-container {
  position: relative; /* Para usar ::before */
  display: flex;
  overflow: hidden; /* Evita desplazamiento horizontal */
  flex-direction: column;
  justify-content: center; /* Centra las imágenes horizontalmente */
  align-items: center; /* Centra las imágenes verticalmente */
  flex-wrap: nowrap; /* Asegura que todo esté en una fila única */
  height: 40vh; /* Ajusta la altura del contenedor según sea necesario */
  overflow: hidden;
}

.logos-container::before {
  content: ""; /* Pseudo-elemento vacío para la imagen de fondo */
  position: absolute; /* Hace que cubra todo el contenedor */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/fondor.png") no-repeat center bottom;
  z-index: -1; /* Ubica el fondo detrás del contenido */
  object-fit: cover !important;
}

.logos-row {
  display: flex; /* Cada fila es un flex row */
  justify-content: center; /* Centra los elementos dentro del row */
  align-items: center; /* Centra verticalmente los elementos */
  gap: 3rem; /* Espaciado entre los logos dentro de cada fila */
  margin-top: -8vh;
}

.partner {
  width: 10vw; /* Ajusta el tamaño de los logos */
  height: auto;
  z-index: 1;
  margin-right: 7vw; /* Margen derecho para separar */
}

.partner2 {
  width: 20vw; /* Ajusta el tamaño de los logos */
  height: auto;
  z-index: 1; /* Asegura que los logos estén encima del fondo */
}

.partner:last-child {
  margin-right: 0; /* Elimina el margen derecho del último elemento */
}

.logo {
  width: 165px;
  height: auto;
  object-fit: contain;
}


@media (max-width: 480px) {

  html {
    font-size: 12px;
  }

  .background-container {
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    background: url("../assets/fondoweb.png") no-repeat center top;
    position: absolute; /* Asegura que se expanda sin restricciones */
    z-index: -1; /* Asegura que esté detrás del contenido */
    margin-top: 2rem;
  }

  .logos-container {
    height: 20vh;
    gap: 7px;
    margin-top: 5vh;
  }

  .logos-container::before {
    width: 100%;
    height: 100%;
    background: url("../assets/fondor.png") no-repeat center bottom;
    z-index: -1;
  }

  .logos-row {
    gap: 10px;
  }

  .partner {
    width: 22vw;
    height: auto;
    margin-right: 11vw;
    margin-top: -3vh;

  }

  .partner:last-child {
    margin-right: 0;
  }

  .partner2 {
    width: 30vw;
    height: auto;
    z-index: 1;
    margin-top: 9.5vh !important;
  }

  .logo {
    width: 165px;
    height: auto;
  }
}

@media (max-width: 768px) {

  html {
    font-size: 14px; /* 1rem = 14px para pantallas pequeñas */
  }

  .background-container {
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    background: url("../assets/fondoweb.png") no-repeat center top;
    position: absolute; /* Asegura que se expanda sin restricciones */
    z-index: -1; /* Asegura que esté detrás del contenido */
    margin-top: 10vh;
  }

  .logos-container {
    height: 20vh;
    gap: 7px;
  }

  .logos-container::before {
    width: 100%;
    height: 100%;
    background: url("../assets/fondor.png") no-repeat center bottom;
    z-index: -1;
  }

  .logos-row {
    gap: 0rem;
  }

  .partner {
    width: 17vw;
    height: auto;
    margin-top: -3vh;
  }

  .partner:last-child {
    margin-right: 0;
  }

  .partner2 {
    width: 30vw;
    height: auto;
    z-index: 1;
    margin-top: -2vh;
  }

  .logo {
    width: 165px;
    height: auto;
  }
}
