.marquee-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: #deeee7;
  color: #4d96ff;
  margin-top: 10.9vh;
  border: #4d96ff 1px;
  height: 10vh;
  position: relative;
}

.marquee-text-wrapper {
  display: flex;
  align-items: center; /* Centra el contenido verticalmente */
  animation: scroll 200s linear infinite;
  width: max-content; /* Esto es importante para que el contenido no "salte" */
}

.marquee-text-wrapper2 {
  display: flex;
  animation: scroll 300s linear infinite;
  gap: 0;
  width: max-content;
  align-items: center; /* Centra el contenido verticalmente */
}

.marquee-text-wrapper .marquee-text {
  flex-shrink: 0;
}

.marquee-text {
  display: inline-flex;
  font-size: 2rem; /* Escalable en todos los dispositivos */
  font-weight: 600;
  line-height: 8vh; /* Asegura que el texto ocupe el centro de la barra */
  align-items: center; /* Centra el contenido verticalmente */
}

.hosted-image {
  width: auto;
  height: 3vh;
}

/* Animación responsiva */
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Media queries para diferentes pantallas */

/* Móviles estándar */
@media (max-width: 480px) {
  .marquee-container {
    height: 4vh;
  }

  .marquee-text {
    font-size: 1.5rem;
  }

  .hosted-image {
    height: 3vh;
    width: 10vw;
  }
}

/* Móviles grandes y tablets */
@media (max-width: 768px) {
  .marquee-container {
    height: 7vh;
  }

  .marquee-text {
    font-size: 1.8rem;
  }

  .hosted-image {
    height: 4.5vh;
    width: 14.8vw;
  }

  .hosted-image2 {
    height: 3.2vh;
    width: 19vw;
    margin-right: 1rem;
  }
}

/* Ordenadores */
@media (min-width: 1024px) {
  .marquee-container {
    height: 10vh;
  }

  .marquee-text {
    font-size: 2.2rem;
  }

  .hosted-image {
    height: 5vh;
  }
}
