/* CSS para el Popup */
@font-face {
  font-family: "Exo Black";
  src: url("../styles/font/Exo/Exo-Black.otf") format("opentype"); /* Ajusta la ruta si es necesario */
  font-style: normal;
}

.custom-popup .leaflet-popup-content {
  font-family: "Exo Black", sans-serif !important; /* Fuerza la fuente */
  font-size: 25px; /* Tamaño del texto dentro del popup */
  font-weight: lighter; /* Hace el texto más ligero */
  text-align: center; /* Centra el contenido */
}

.custom-popup .leaflet-popup-content-wrapper {
  background-color: #deeee7 !important; /* Fondo del popup */
  border-radius: 10px; /* Esquinas redondeadas */
}

.custom-popup .leaflet-popup-content a {
  font-size: 1.7rem !important; /* Tamaño del texto del enlace */
  font-weight: bold;
  color: #f88e1b !important; /* Enlace en azul */
  text-decoration: underline; /* Subraya el enlace */
  display: block; /* Enlace como bloque */
  margin-top: 10px; /* Espaciado superior del enlace */
}

.custom-popup .leaflet-popup-tip {
  background-color: #deeee7 !important; /* Fondo de la "punta" del popup */
}

.custom-popup .leaflet-popup-content span {
  display: block; /* Asegura que el contenido esté en bloque */
  font-size: 20px; /* Tamaño del texto */
  color: #4d96ff !important; /* Enlace en azul */
}
