/* 🎨 Fuente personalizada */
@font-face {
  font-family: "Exo Black";
  src: url("../styles/font/Exo/Exo-Black.otf") format("opentype");
  font-style: normal;
}

/* 📦 Contenido del popup */
.maplibregl-popup-content {
  font-family: "Exo Black", sans-serif !important;
  text-align: center;
  font-weight: lighter;
  font-size: 1rem;
  padding: 1rem 1.2rem;
  border-radius: 20px !important; /* Mayor redondez */
  background-color: #deeee7 !important;
  color: #4d96ff;
  box-shadow: none !important; /* Sombra sutil */
}


/* 🔗 Enlace dentro del popup */
.maplibregl-popup-content a {
  font-weight: bold;
  font-size: 1.7rem;
  color: #f88e1b !important;
  text-decoration: underline;
  display: block;
  margin-top: 0.6rem;
  display: block;
  outline: none;             /* ✅ Evita el borde del foco */
  box-shadow: none !important; /* ✅ Borra cualquier sombra por focus */
}

.leaflet-popup-close-button {
  display: none !important;
}


/* 📱 Media query para móviles */
@media (max-width: 480px) {
  .maplibregl-popup-content {
    font-size: 1.4rem;
    padding: 1.2rem;
  }

  .maplibregl-popup-content a {
    font-size: 1.55rem !important;
  }
}
