/* Contenedor de tarjetas de tickets */

@font-face {
  font-family: "Exo Black";
  src: url("../styles/font/Exo/Exo-Black.otf") format("opentype"); /* Ajusta la ruta si es necesario */
  font-weight: 300;
  font-style: normal;
}

.ticket-cards-container {
  display: flex;
  justify-content: center;
  gap: 3.5vw;
  flex-wrap: wrap;
}

/* Tarjetas de tickets */
.ticket-card {
  background: white;
  border: 0.5vw solid #4d96ff;
  text-align: center;
  width: 20vw;
  border-radius: 1vw;
  height: 58vh;
  margin-bottom: 10vh;
}

/* Estilo para el título dentro de las tarjetas de tickets */
.ticket-card h3 {
  margin-top: 5.5vh; /* Elimina márgenes */
  color: black; /* Color del texto */
  font-size: 1.1rem; 
  letter-spacing: 1rem;/* Tamaño de la fuente */
  font-weight: normal; /* Peso de la fuente */
  letter-spacing: 0px;
  border-radius: 5px; /* Bordes redondeados */
  margin-bottom: 1rem; /* Espacio debajo del título */
  text-align: center; /* Centrado */
}

/* Precio de la tarjeta */
.price {
  font-size: 5vw;
  margin-top: 5vh;
  font-weight: bolder;
  color: #4d96ff;
}

/* Siguiente precio (con borde) */
.next-price {
  height: 8vh;
  justify-content: center;
  align-items: center;
  background: #deeee79d;
  display: flex;
  font-weight: bold;
  margin-top: -8vh;
  border-radius: 1.5vw;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  color: #4d96ff;
  font-size: 0.9rem;
}

/* Botón de compra */
.buy-button {
  height: 9vh;
  background: #f88e1b;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-family: inherit;
  width: 80%;
  border-radius: 3vw;
  margin-top: 3vh;
  font-size: 1.5vw;
}

/* Hover del botón de compra */
.buy-button:hover {
  background: #4d96ff;
}

/* Ajuste para pantallas medianas (tabletas) */
@media (max-width: 768px) {
  .ticket-cards-container {
    gap: 4vw;
  }

  .ticket-card {
    width: 65vw;
    height: 56vh;
    font-size: 4.5vw;
    padding: 1;
  }

  .ticket-card h3 {
    font-size: 2.5rem
  }

  .price {
    font-size: 17.5vw;
    margin-bottom: 14vh;
  }

  .next-price {
    height: 5vh;
    font-size: 1.4rem;
  }

  .buy-button {
    font-size: 1.9rem;
    margin-top: 2.8vh;
  }
}

/* Ajuste para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
  .ticket-cards-container {
    gap: 4vw;
  }

  .ticket-card {
    width: 70vw;
    height: 46vh;
    font-size: 4.5vw;
    padding: 1;
  }

  .ticket-card h3 {
    font-size: 1.7rem
  }

  .price {
    font-size: 19vw;
  }

  .next-price {
    height: 5vh;
    font-size: 1.3rem;
  }

  .buy-button {
    font-size: 1.9rem;
    margin-top: 2.8vh;
  }
}
